<div class="center hero-unit">
  <h3>Manage your expenses the easy way<br /><br />with the</h3><h1>Expense Manager</h1>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>