<% provide(:title, 'Reminders') %>
<h1>Reminders</h1>

<%= render 'reminders/display' %> 

<div class="center hero-unit">
  <a href="/reminders/new" 
          class="btn btn-large btn-primary" 
          data-toggle="modal" 
          data-target="#myModal2">
      Add a new reminder</a>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">New Reminder</h4>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>

<script>
  $("document").ready(function(){

    $('#myModal2').on('show.bs.modal', function (e) {
      $('.error_msg').text("");
    });

  });
</script>
