<div class="row">
  <div class="span6 offset3">
    <%= form_for(@item, remote: true, controller: "Reminders", action: "create", html: { method: "post", role: 'form', class: 'remote-form' }) do |f| %>
      
      <%= render :partial => "reminder_form", :locals=>{:f => f } %>

      <div class="modal-footer">
      	<%= f.submit "Add", class: "btn btn-primary"%>
      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    <% end %>
  </div>
</div>

<script>
  $("document").ready(function(){
    $("form").submit(function(event) {
      $('.text-danger').text("");
    });
  });
</script>

