<% if @sum == 0 %>
<br /><br /><h3 class = 'center'>You do not have any expenses for this month yet. <br />Click on expenses tab to get started.<br /><br />
<% else %>
<h4>Current month's expenses : Rs <%= sprintf( "%0.02f", @sum) %></h4>

<%= render '/user_pages/piechart' %>
<% end %>

<% unless @alerts.empty? %>
<h4>Reminders due to be paid</h4>
<table class="table table-hover">
	<tr>
    <th>Category</th>
    <th>Description</th>
    <th>Alert Threshold</th>
    <th>Frequency</th>
    <th>Last pay date</th>
    <th>Next pay date</th>
    <th>Days left</th>
    <th></th>
  </tr>
	<%= render partial: 'alert', collection: @alerts %>
</table>
<% end %>
